.news-title {
	width: 860px;
	height: auto;
	background-color: #BCFFB4;
	color: black;
	font-size: 18px;
	padding: 10px;
}
.news-date {
	width: 860px;
	line-height: 20px;
	background-color: #F5F5F5;
	color: black;
	font-size: 14px;
	padding-left: 10px;
	margin-top: 5px;
}
.news-article {
	width: 850px;
	line-height: auto;
	background-color: #E8FFE5;
	color: black;
	font-size: 14px;
	padding: 10px;
	padding-right: 10px;
	margin-top: 5px;
}
